.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .headerList li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 8px 16px; 
}

.headerList li a.active {
    background-color: #DBDFD0; 
    border-radius: 30px; 
}

.headerList li a:hover {
    background-color: #DBDFD0;
    border-radius: 30px; 
}
  
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  .headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .headerLeft {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .headerCenter {
    display: flex;
    align-items: center;
  }
  
  .headerList {
    display: flex;
    list-style-type: none;
    margin-bottom:auto;
  }
  
  .headerList li {
    margin-right: 20px;
  }
  
  .headerList li:last-child {
    margin-right: 0;
  }
  
  .headerList li a {
    color: #333;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .headerRight button {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    margin-right: 30px;
    margin-bottom:auto;
  }
  .headerRight button:hover {
    background-color: #DBDFD0; 
  }
  
  .headerLeft .logo-and-login-container,
  .headerRight .logo-and-login-container {
    margin-right: 20px; 
    margin-left: 20px; 
  }

  .headerContact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    height: 40px;
  }
  .phone{
    margin-left: 30px;
  }
  .contactLeft {
    display: flex;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }
  
  .contactLeft > div {
    display: flex;
    align-items: center; 
    margin-right: 30px; 
  }
  
  .contactLeft > div:last-child {
    margin-right: 0; 
  }
  .contactLeft > div > svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .contactRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    color: white;
  }
  .logo-title-header{
    color: black;
    margin-left: 10px;
    font-family: Playfair Display;
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: -0.4px;
}
.headerRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shopping-cart a {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.avatar-user .MuiAvatar-root {
  width: 50px;
  height: 50px;
  margin-right: 40px;
}
  