*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}


.container-fluid{
    display: flex;
    flex-direction: column;

}
.menu-container {
    position: relative;
}


.menu-card {
height: 330px;
padding: 20px;
text-align: center;
margin: 50px 0;
border-radius: 12px;
border: 1.5px solid var(--Neutral-03, #DBDFD0);
background: var(--Neutral-01, #FFF);
gap: 15px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}

/* Các thuộc tính CSS khác */
.menu-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}


